:ruby
  id = model.id
  type = model.class.to_s

  assign_url = "/user_assigns/new?model_id=#{id}&model_type=#{type}"
  assigned_users = model.assigned_users

  data = {
    :id => id,
    :type => type
  }

.page-user-assigns{:data=>data}
  - if admin_logged_in?
    .assign
      %a.do-assign{:href=>assign_url} 分配执行人

  - if logged_in?
    .assign-to-me
      - if assigned_users.include? current_user
        %span.assigned 已经分配给我了
      - else
        %a.do-assign-to-me{:href=>'javascript:;'} 我要领取

  - if !assigned_users.blank?
    .assigned-users
      .t 目前已经分配给了：
      .users
        - assigned_users.each do |user|
          .user
            .avatar=avatar_link user, :tiny
  - else
    .assigned-users
      .t 目前没有分配给任何人