.page-user-assigns
  .assign
    %a.do-assign{:href=>"/issues/#{issue.id}/assign_users"} 分配执行人

  .assign-to-me
    - if issue.users.include? current_user
      %span.assigned 已经分配给我了
    - else
      %a.do-assign-to-me{:href=>'javascript:;'} 我要领取

  - if !issue.users.blank?
    .assigned-users
      .t 目前已分配给
      .users
        - issue.users.each do |user|
          .user
            .avatar=avatar_link user, :tiny