%p
  =link_to "新建: 界面相关", "/work_results/new?kind=#{WorkResult::Kind::UI}" 
  =link_to "新建: 功能逻辑相关", "/work_results/new?kind=#{WorkResult::Kind::LOGIC}" 
  =link_to "新建: 概念相关", "/work_results/new?kind=#{WorkResult::Kind::CONCEPT}" 

  =link_to "所有列表", "/work_results"