- htitle '里程碑'

- hbreadcrumb '首页', '/'
- hbreadcrumb '里程碑', "/milestones"


.page-milestones
  - unless @milestones.nil?
    %ul
      - @milestones.each do |milestone|
        %li= milestone.name
        %li
          = link_to "编辑", "/milestones/#{milestone.id}/edit"
          = link_to '删除', milestone, :confirm => '确认删除?', :method => :delete, :class => 'delete'

