.status
  .t æ•…äº‹çŠ¶æ€
  .st= status_label story
  -if admin_logged_in?
    .other-st
      - (Story::STATUSES - [story.status]).each do |status|
        %a.toggle-st{:href=>'javascript:;', :class=>status.downcase, :'data-status'=>status}= status