// 常量表，一般用于存颜色值，间距值等

$COLOR-BODY-BACKGROUND : #4F4F4F;

$COLOR-LINK : #9FBA6D;
$COLOR-BG1  : #3E3D3F;
$COLOR-BG2  : #363537;

$COLOR-BOX-BG  : $COLOR-BG1;
$COLOR-BOX-BG2 : $COLOR-BG2;
$COLOR-BOX-LIGHT-BG : #646464;
$COLOR-BOX-LIGHT-BG-HOVER : #545454;
$COLOR-FORM-BG : $COLOR-BOX-LIGHT-BG;

$COLOR-BTN-DARK-BG : rgba(black, 0.6);
$COLOR-BTN-DARK-BG-HOVER : rgba(black, 0.9);

$COLOR-BLACK-SHADOW  : rgba(black, 0.2);
$COLOR-TINY-BORDER   : rgba(black, 0.1);
$COLOR-MEDIUM-BORDER : rgba(black, 0.3);
$COLOR-MORE-DARK-BORDER : rgba(black, 0.6);

$COLOR-TINY-LIGHT-BORDER   : rgba(white, 0.1);
$COLOR-MEDIUM-LIGHT-BORDER : rgba(white, 0.3);

$COLOR-QUIET-TEXT : #999;

$BOX-PADDING : 15px;
$BOX-PADDING-LESS : 10px;
$BOX-PADDING-NARROW : 5px;
$BUTTON-PADDING : 10px;