:ruby
  product_name = @product.name
  product_issues_url = "/products/#{@product.id}/issues"

-htitle "创建问题或建议: #{product_name}"

.page-title="创建问题或建议: #{product_name}"

=flash_info
=form_for [@product, @issue] do |f|
  .field
    %label 问题或建议描述
    =f.text_area :content
  .field
    %a.form-submit-button{:href=>'javascript:;'} 确定
    %a.form-cancel{:href=>product_issues_url} 取消