= form_for issue  do |f|
  .field.need
    = f.text_area :content

  .field.state
    = f.select :state, MilestoneIssue::STATES

  .field.submit
    = jfsubmit '确定'
    %a.form-button.cancel{:href=>'javascript:;'} 取消
