%ul
  - usecase.sub_usecases.each do |usecase|
    %li
      %span.list-number
        %a.add{:href=>'javascript:;', "data-id" => usecase.id} +
      %div{:id => "usecase-#{usecase.id}", "data-id" => usecase.id, :style => "display: none;"}
        =render 'milestones/parts/new_usecase', :usecase_id => usecase.id
      %span.text= usecase.content

    - if usecase.sub_usecases.any?
      =render 'milestones/parts/sub_usecases', :usecase => usecase