.page-title 我们的产品

.hide.page-to
  .p=link_to '全部产品','/'
  .p=link_to '我的工作','/stories/mine'

.hide.page-ops
  =link_to "新建产品","/products/new"
  
:ruby
  products = Product.all
  
.page-products
  -products.each do |product|
    :ruby
      title = product.title
      description = product.description
      cover_url = product.cover.url
      
    .product
      .meta-data
        .box
          .cover
            %img{:alt=>title, :src=>cover_url}
          .title=link_to title,"/products/#{product.id}"
          .desc=description
          -if admin_logged_in?
            .ops
              .edit=link_to '修改',"/products/#{product.id}/edit"
      .stat-data
        .work-member
          .t 参与者
          .members
            .none 还没有人参与