-htitle '我们的产品'

=render 'index/parts/page_nav'

:ruby
  products = Product.all
  
.page-products
  -products.each do |product|
    :ruby
      name = product.name
      description = product.description
      cover_url = product.cover.url
      
    .product
      .meta-data
        .box
          .cover
            %img{:alt=>name, :src=>cover_url}
          .name=link_to name,"/products/#{product.id}"
          .desc=description
      .stat-data
        .work-member
          .t 参与者
          .members
            .none 还没有人参与
      -if admin_logged_in?
        .ops
          %a.edit{:href=>"/products/#{product.id}/edit"} ADMIN:修改