-htitle '我们的产品'

=render 'index/parts/page_nav'

:ruby
  products = Product.all
  
.page-products
  -products.each do |product|
    :ruby
      name = product.name
      description = product.description
      cover_url = product.cover.url
      
      members = product.members
      
      stories_count = product.stories.count
      streams_count = product.streams.count
      members_count = members.count
      
      product_show_url = "/products/#{product.id}"
      
    .product
      .meta-data
        .box
          .cover
            =link_to product_show_url do
              %img{:alt=>name, :src=>cover_url}
          .name=link_to name, product_show_url
          .desc=truncate_u description, 100
      .stat-data
        .base
          .stat{:class=> stories_count == 0 ? 'zero':''}
            .n=stories_count
            .d 故事
          .stat{:class=> streams_count == 0 ? 'zero':''}
            .n=streams_count
            .d 序列
          .stat{:class=> members_count == 0 ? 'zero':''}
            .n=members_count
            .d 参与者
        .work-member
          .members
            -members.each do |member|
              .avatar
                =link_to "/members/#{member.id}", :title=>member.name do
                  =avatar member, :mini
            
      -if admin_logged_in?
        .ops
          %a.edit{:href=>"/products/#{product.id}/edit"} ADMIN:修改