-htitle "#{@user.name} - 个人页"

-hbreadcrumb '首页', '/'
-hbreadcrumb @user.name, "/users/#{@user.id}"


.page-issues
  
  %ul
  - @user.assigned_issues.each do |issue|
    %li= issue.content
