- htitle '成员和分享者'

- hbreadcrumb '首页', '/'
- hbreadcrumb '成员和分享者', '/users'


.page-all-users
  .desc 我们的团队成员和一些提供过帮助的朋友 :)

  -@users.each do |user|
    .user
      %a.box{:href=>"/users/#{user.id}"}
        .avatar=avatar user, :medium
        .meta
          .name=user.name
          .real-name=user.info_real_name
		
