:ruby
  product_name = @product.name
  
  product_show_url = "/products/#{@product.id}"

-htitle "创建序列: #{product_name}"

.page-title="创建序列: #{product_name}"

=flash_info
=form_for @stream, :url=>"/products/#{@product.id}/streams" do |f|
  .field
    %label 序列标题
    =f.text_field :title
  .field
    %a.form-submit-button{:href=>'javascript:;'} 确定
    %a.form-cancel{:href=>product_show_url} 取消
		
