:ruby
  if params[:state].nil?
    issues = usecase.issues
  else
    issues = usecase.issues.with_state(params[:state])

- unless issues.nil?
  %ul
    - issues.each do |issue|
      %li
        .content= issue.content
        %a.edit-issue{:href=>'javascript:;', "data-id" => issue.id} 编辑

        %div{:id => "edit-issue-#{issue.id}", :style => "display: none;"}
          =render 'issues/parts/edit_issue', :issue_id => issue.id