:ruby
  if params[:state].nil?
    issues = usecase.issues
  else
    case params[:state]
    when 'OPEN'
      issues = usecase.opened_issues
    when 'CLOSED'
      issues = usecase.closed_issues
    when 'PAUSE'
      issues = usecase.paused_issues
    else
      issues = usecase.issues
    end
  end

- unless issues.nil?
  %ul
    - issues.each do |issue|
      %li
        .content= issue.content
        %a.edit-issue{:href=>'javascript:;', "data-id" => issue.id} 编辑

        %div{:id => "edit-issue-#{issue.id}", :style => "display: none;"}
          =render 'milestone_issues/parts/edit_issue', :issue_id => issue.id