-unless @wiki_page.nil?
  .page-title WIKI - #{@wiki_page.title}
 
.page-wiki-page
  - if @wiki_page.blank?
    .wiki-page-title=params[:title]
    .wiki-page-content 还没有内容

  - else
    .wiki-page-title
      %span=@wiki_page.title
      %a.edit{:href=>"/products/#{@wiki_page.product_id}/wiki/#{@wiki_page.title}/edit"} 编辑

    -#.table-of-contents
    -#  %ul=raw @wiki_page.echo_title_indices(@wiki_page.generate_title_indices)


    .wiki-page-content=@wiki_page.formatted_content

