<!DOCTYPE html>
<html lang='zh'>
  <head>
    <meta charset='utf-8'>
    <title>MINDPIN TEAM AGILE PLAYGROUND</title>
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="ivaULR4+k3g2oUzer+rPcMKFlmvawJivWme2AEjEv8k=" name="csrf-token" />
    <link href="/assets/application.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    
    
  </head>
  <body class='echo gray'>
    <div class='page-container'>
      <div class='page-sider'>
        <div class='head'>
          <div class='title'>