- hbreadcrumb '首页', '/'
- hbreadcrumb @github_project.product.name, "/products/#{@github_project.product.id}"
- hbreadcrumb 'Github Projects', "/products/#{@github_project.product.id}/github_projects"
- hbreadcrumb 'Github', "/github_projects/#{@github_project.id}"


.page-github{:data => {:github_project_id=>params[:id],:last_sha=>params[:last_sha]||''}}
  .load 正在载入...
