.page-title #{@product.name} - WIKI - 从 Evernote 导入数据

.page-evernote-import-confirm
  %form{:action => "/products/#{@product.id}/wiki_evernote_doimport", :method=>'post'}
    .desc 准备导入 #{@found_notes.length} 条笔记
    .notes
      -@found_notes.each do |note|
        .note{:'data-guid'=>note.guid, :'data-title'=>note.title}
          .title=truncate_u note.title, 32

    .desc 如果出现重复标题，按以下方式处理：
    .title-repeat-deal-method
      .sel
        %span 忽略evernote笔记
        %input{:name => 'repeat_deal', :type=>"radio", :value=>'drop', :checked=>true}
      .sel
        %span 以evernote笔记覆盖原词条 
        %input{:name => 'repeat_deal', :type=>"radio", :value=>'replace'}

    .field.submit
      %a.form-submit-button-no-default-event{:href=>'javascript:;'} 确认导入
      %a.form-cancel{:href=>"/products/#{@product.id}/wiki"} 取消
      %span.status