=flash[:error]
=form_tag "/stories/#{@story.id}/do_assign_users",:method=>:put do
  %div
    %label 指派执行人
  %div
    -users = @story.users
    -User.all.each do |user|
      %span
        =check_box_tag("user_ids[]",user.id,users.include?(user))
        %label=user.name
        
  %div
    =submit_tag "指派"
