-htitle "修改故事"

.page-title="修改故事"

.page-edit-story
  =flash_info
  =form_for @story do |f|
    .field.how-to-demo
      %label 如何演示？(HOW TO DEMO)
      =f.text_area :how_to_demo
    .field.tips
      %label 补充说明和提示(TIPS)
      =f.text_area :tips
    .field.time-estimate
      %label 时间预估(TIME ESTIMATE)
      =f.select :time_estimate, [4, 8, 16, 24, 32, 40, 100]
    .field.submit
      %a.form-submit-button{:href=>'javascript:;'} 确定
      %a.form-cancel{:href=>'javascript:history.go(-1);'} 取消