-htitle '我的任务'

-# 5月17日 重新设计，按照产品划分
.page-mine-stories-grouped
  -@mine_products_hash.each do |product, stories|
    .product
      .name=product.name
      =render 'stories/parts/simple_list', :stories=>stories

