-htitle '我的任务'

-hbreadcrumb '首页', '/'
-hbreadcrumb '我的任务', '/mine', :current=>true

-content_for :topbar do
  = jsearchbar '/my_stories_search', :placeholder=>'搜索我的任务'

.page-stories
  -@mine_products_hash.each do |product, stories|
    .product
      .name=product.name
      .stories
        -stories.each do |story|
          :ruby
            klass = story.status.downcase
            story_url = "/stories/#{story.id}"
          
          .story{:class=>klass}
            %a.story-id{:href=>story_url} ##{story.id}

