-htitle '我的任务'

-hbreadcrumb '首页', '/'
-hbreadcrumb '我的任务', '/mine', :current=>true

-content_for :topbar do
  = jsearchbar '/my_stories_search', :placeholder=>'搜索我的任务'

.page-mine-stories-grouped
  -@mine_products_hash.each do |product, stories|
    .product
      .name=product.name
      =render 'stories/parts/simple_list', :stories=>stories

