:ruby
  product_name = @product.name
  streams = @product.streams
  
  product_show_url = "/products/#{@product.id}"

-htitle "创建故事 in #{product_name}"

.page-title="创建故事 in #{product_name}"

.page-new-story
  -if streams.blank?
    目前该产品下还没有任何故事序列，不可创建故事。
    =link_to '返回', product_show_url
  -else
    =flash_info
    =form_for @story,:url=>"/products/#{@product.id}/stories" do |f|
      .field.how-to-demo
        %label 如何演示？(HOW TO DEMO)
        =f.text_area :how_to_demo
      .field.tips
        %label 补充说明和提示(TIPS)
        =f.text_area :tips
      .field.time-estimate
        %label 时间预估(TIME ESTIMATE)
        =f.select :time_estimate, [4, 8, 16, 24, 32, 40, 100]
      .field.stream
        %label 分配到故事序列
        .stream-selector
          -@product.streams.each do |stream|
            .stream
              .cb=check_box_tag('story[stream_story_links_attributes][][stream_id]', stream.id)
              .t=stream.title
      .field.submit
        %a.form-submit-button{:href=>'javascript:;'} 确定
        %a.form-cancel{:href=>product_show_url} 取消