.page-title Stories

- content_for :javascript do
  :javascript
    function publish() {
      var temp_id = jQuery('#temp_id').val();

      if (temp_id != '') {

        jQuery.ajax({
          type: 'get',
          url: "/stories/publish_draft",
          data: {temp_id: temp_id},
          dataType: "html"
        }).done(function ( data ) {
          alert(data);
          if (data != '') {
            // window.location.href = "/stories/" + data;
          }
        });

      }

    }


.page-wiki-search-results

:ruby
  drafted_hash = @draft.drafted_hash
  drafted_hash = Marshal.load(drafted_hash)


%div
  %input{:name => "publish_btn", :value => "å‘å¸ƒ", :type => "button", :onclick => "publish();"}/
  %input{:name => "temp_id", :id => "temp_id", :value => "#{@draft.temp_id}", :type => "hidden"}/

.wiki-page
  .ct=drafted_hash[:how_to_demo]
  .ct=drafted_hash[:tips]
