- htitle "Http Api - 创建新Api"

- hbreadcrumb '首页', '/'
- hbreadcrumb "Http Api列表", "/http_apis/designer"


=render 'http_apis/parts/navigation'


.page-http-apis
  - if @http_apis.any?
    %ul
    - @http_apis.each do |http_api|
      %li
        .logic= http_api.logic
        .ops
          -if http_api.creator = current_user
            =link_to "修改", "/http_apis/#{http_api.id}/edit"
            =link_to "删除", "/http_apis/#{http_api.id}", :confirm => '确认删除?', :method => :delete

