@mixin white-link{
  color:white;&:hover{color:#9FBA6D;text-decoration:none;}
  @include transition(color ease-in .2s);
}

@mixin new-button{
  float:left;
  height:24px;line-height:24px;
  @include border-radius(2px);
  box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
  border:solid 1px #6EA821;
  @include gradient(#92D440, #7EBD2E);
  //border:solid 1px darken(#C1CE28, 5%);
  //@include gradient(#C1CE28, darken(#C1CE28,10%));
  color:white;
  text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.2);
  padding:0 8px;
  &:hover{text-decoration:none;
    @include gradient(#8AD033, #76B12B);
    border:solid 1px #5E8F1C;
  };
}

@mixin common-mini-button{
  float:left;
  height:22px;line-height:22px;
  @include border-radius(3px);
  //box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
  border:solid 1px #d4d4d4;
  @include gradient(#f4f4f4, #ececec);
  color:#333;
  text-shadow:1px 1px 0 #FFFFFF;
  padding:0 8px;
  &:hover{text-decoration:none;
    @include gradient(#599bdc, #3072b3);
    border-color:#518cc6 #518cc6 #2a65a0;
    text-shadow:-1px -1px 0 rgba(black, 0.3);
    color:white;
  };
}

//////////

@mixin top-shadow{
  position:relative;
  &:before{
    content:'';
    position:absolute;
    height:6px;
    top:0;left:0;right:0;
    @include gradient(rgba(black, 0.4), rgba(black, 0));
  }
}