@mixin white-link{
  color:white;&:hover{color:#9FBA6D;text-decoration:none;}
  @include transition(color ease-in .2s);
}

@mixin new-button{
  float:left;
  height:24px;line-height:24px;
  @include border-radius(2px);
  box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
  border:solid 1px #6EA821;
  @include gradient(#92D440, #7EBD2E);
  //border:solid 1px darken(#C1CE28, 5%);
  //@include gradient(#C1CE28, darken(#C1CE28,10%));
  color:white;
  text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.2);
  padding:0 8px;
  &:hover{text-decoration:none;
    @include gradient(#8AD033, #76B12B);
    border:solid 1px #5E8F1C;
  };
}

@mixin common-mini-button{
  float:left;
  height:22px;line-height:22px;
  @include border-radius(3px);
  //box-shadow:0 0 2px rgba(0, 0, 0, 0.3);
  border:solid 1px #d4d4d4;
  @include gradient(#f4f4f4, #ececec);
  color:#333;
  text-shadow:1px 1px 0 #FFFFFF;
  padding:0 8px;
  &:hover{text-decoration:none;
    @include gradient(#599bdc, #3072b3);
    border-color:#518cc6 #518cc6 #2a65a0;
    text-shadow:-1px -1px 0 rgba(black, 0.3);
    color:white;
  };
}

$story-status-not-assign-color:#C34000;
$story-status-doing-color:#95BB52;
$story-status-reviewing-color:#5552BB;
$story-status-done-color:#1888EA;
$story-status-pause-color:#EAC018;

.page-story-status-label{
  color:white;
  height:20px;line-height:20px;font-size:12px;
  display:inline-block;
  text-shadow:1px 1px 0 rgba(black, 0.2);
  width:50px;text-align:center;
  
  &.not-assign{
    background-color:$story-status-not-assign-color;
  }
  &.doing{
    background-color:$story-status-doing-color;
  }
  &.reviewing{
    background-color:$story-status-reviewing-color;
  }
  &.done{
    background-color:$story-status-done-color;
  }
  &.pause{
    background-color:$story-status-pause-color;
  }
}

@mixin story-in-flow{
  .story{
    position:relative;
    margin:0 10px 10px;
    
    a.how{
      clear:both;
      color:#999;
      padding:15px-LESS;
      padding-bottom:15px-LESS + 20px;
      background-color:#363537;
      display:block;

      @include transition(all ease-in .2s);
      &:hover{
        color:#9FBA6D;text-decoration:none;
        box-shadow:0 0 2px #76B8F2, 0 0 2px #76B8F2 inset;
        background-color:lighten(#363537, 5%);
      }
    }

    .meta{
      overflow:hidden;
      position:absolute;
      bottom:0;
      left:15px-NARROW;

      .story-id{
        float:left;
        color:#fff;height:20px;line-height:20px;
        font-weight:bold;
        background-color:#646464;
        padding:0 3px;
        text-shadow:1px 1px rgba(black, 0.2);
      }
      .status{
        float:left;margin-right:5px;
        .st{float:left;}
      }
    }
    
    .members{
      position:absolute;
      right:-2px;bottom:-2px;
      .avatar{
        float:left;
        width:24px;height:24px;overflow:hidden;
        img{width:24px;height:24px;}
        margin-left:3px;
      }
    }
    
    .ops{
      display:none;
      float:right;
      .os{
        overflow:hidden;
        a.show{@include common-mini-button;margin-right:6px;}
        a.edit{@include common-mini-button;}
      }
    }
  }
}


//////////

@mixin top-shadow{
  position:relative;
  &:before{
    content:'';
    position:absolute;
    height:6px;
    top:0;left:0;right:0;
    @include gradient(rgba(black, 0.4), rgba(black, 0));
  }
}