.page-evernote-notebook-list{
  padding:15px;
  background-color:#3E3D3F;

  .desc{
    margin-bottom:10px;
  }

  .all-notebook, .all-tag{
    padding:0;
    height:30px;line-height:30px;
    background-color:#363537;
    margin-bottom:10px;
    overflow:hidden;
    font-size:14px;

    .checkbox{
      float:left;
      height:30px;line-height:30px;
      background-color:#222;
      margin-right:15px;
      width:30px;
      text-align:center;
    }
  }

  .notebooks{
    margin-bottom:10px;
    .notebook{
      padding:0;
      height:30px;line-height:30px;
      background-color:#363537;
      margin-bottom:10px;
      overflow:hidden;
      font-size:14px;

      span.guid{
        font-size:11px;
        color:#666;
      }

      .checkbox{
        float:left;
        height:30px;line-height:30px;
        background-color:#222;
        margin-right:15px;
        width:30px;
        text-align:center;

        input{opacity:0.2;}
      }

      &:last-child{
        margin-bottom:0;
      }
    }
  }

  .tags{
    margin-bottom:11px;
    .tag{
      padding:0;
      height:30px;line-height:30px;
      background-color:#363537;
      margin-bottom:10px;
      overflow:hidden;
      font-size:14px;

      span.guid{
        font-size:10px;
        color:#666;
      }

      .checkbox{
        float:left;
        height:30px;line-height:30px;
        background-color:#222;
        margin-right:15px;
        width:30px;
        text-align:center;

        input{opacity:0.2;}
      }

      &:last-child{
        margin-bottom:0;
      }
    }
  }
}

.page-evernote-import-confirm{
  padding:15px;
  background-color:#3E3D3F;
  
  .desc{
    margin-bottom:10px;
  }

  .notes{
    margin-bottom:10px;
    .note{
      padding:0 15px;
      height:30px;line-height:30px;
      background-color:#363537;
      margin-bottom:10px;
      overflow:hidden;
      font-size:12px;

      span.guid{
        font-size:11px;
        color:#666;
      }

      .checkbox{
        float:left;
        height:30px;line-height:30px;
        background-color:#222;
        margin-right:15px;
        width:30px;
        text-align:center;

        input{opacity:0.2;}
      }

      &:last-child{
        margin-bottom:0;
      }
    }
  }

  .title-repeat-deal-method{
    margin-bottom:10px;
    padding:0 15px;
    line-height:30px;
    background-color:#363537;
  }

  span.status{
    height:40px;line-height:40px;
    margin:10px 10px 0 0;
    float:left;
    color:#FCBA15;
  }
}