.page-new-issue{
  .field.content{
    padding-left:16px;
    label, textarea{width:100%;margin-left:-16px;}
  }
}

.page-product-issues{
  width:600px;

  .ops{
    @include floatfix;
    a.add-issue{
      @include new-model-button;
    }
  }

  .nav{
    margin-bottom:20px;
    @include floatfix;
    a{
      float:left;
      height:24px;line-height:24px;
      padding:0 7px;
      margin-right:10px;
    }
    a.open{
      color:lighten(#6CC644, 30%);
      background-color:rgba(#6CC644, 0.1);
    }
    a.closed{
      color:lighten(#BD2C00, 30%);
      background-color:rgba(#BD2C00, 0.1);
    }
    &.open a.open, &.closed a.closed{
      &:before{
        content:">";
        //color:white;
        margin-right:5px;
      }
    }
  }

  .issue{
    @include floatfix;
    margin-bottom:10px;
    padding:10px;
    background-color:rgba(black, 0.3);
    border:solid 1px rgba(white, 0.1);
    box-shadow:0 0 5px black;
    position:relative;

    .avatar{
      float:left;
      width:32px;height:32px;
      img{
        width:32px;height:32px;
      }
    }

    .id{
      font-size:14px;
      font-weight:bold;
      color:#ffd75f;
      height:32px;line-height:32px;
      width:32px;
      background-color:rgba(#ffd75f, 0.1);
      text-align:center;
      position:absolute;
      top:44px;left:10px;
    }

    .data{
      $m : 32px + 10px;
      margin-left:$m;
      
      .meta{
        overflow:hidden;
        .name{
          height:16px;line-height:16px;
          font-size:12px;float:left;padding-right:30px;
        }
        .ops{
          height:16px;line-height:16px;
          font-size:12px;float:right;
        } 
      }

      .text{
        color:white;
        margin-top:10px;
        span.time{padding-left:7px;color:#666;}
      }

      .admin-replys{
        .reply{
          @include floatfix;
          padding:5px 10px;
          background-color:rgba(black, 0.4);
          margin-top:3px;
          color:#FFD75F;
          &:first-child{
            margin-top:20px;
          }
          .ravatar{
            margin-left:-5px;
            float:left;width:24px;height:24px;
            img{width:24px;height:24px;box-shadow:0 0 5px black;}
          }
          .rct{
            margin-left:29px;
            line-height:24px;
            font-size:12px;
          }
        }
      }

      .foot{
        margin-top:10px;
        a{margin-right:14px;height:24px;line-height:24px;}

        .state{
          height:24px;line-height:24px;
          float:right;
          color:white;
          font-weight:bold;
          text-shadow:0 0 2px black;
          text-align:center;
          @include number-font;
          box-shadow:0 0 5px black;
          padding:0 7px;
          &.open{
            background-color:#6CC644;
          }
          &.closed{
            background-color:#BD2C00;
          }
        }
      }

    }


    .page-comments{
      $m : 32px + 10px;
      margin-left:$m;
      margin-top:10px;
    }

  }
}

.page-inline-new-dialog{
  position:fixed;
  background-color:#333;
  z-index:10001;
  box-shadow:0 0 5px black;

  top:0px;
  width:600px;//height:440px;
  left:100px;top:-100%;

  .header{
    padding:10px;
    background-color:#222;
    @include floatfix;

    a.close{
      @include mini-button-close;
      float:left;
    }

    a.send{
      @include mini-button;
      float:right;
    }
    .title{
      text-align:center;
      font-size:16px;font-weight:bold;
      height:40px;line-height:40px;
    }
  }

  .avatar{
    margin-top:30px;margin-left:20px;
    margin-bottom:20px;
    width:48px;height:48px;
    img{width:48px;height:48px;box-shadow:0 0 5px black;}
    float:left;
  }

  .data-form{
    margin-bottom:40px;
    margin-left:48px + 40px;
    margin-top:20px;
    padding-left:16px;
    padding-right:20px;
    textarea{
      width:100%;
      margin-left:-16px;
    }
  }

  .res{
    font-size:16px;
    height:48px;line-height:48px;
    margin-top:30px;
    margin-bottom:20px;
    margin-left:48px + 40px;

    &.error{
      color:#FF9999;
    }
    &.success{
      color:#AAD363;
      a{color:#F2DA76;&:hover{color:white;}}
    }
  }
}

.page-issue-show{
  width:600px;
  margin-bottom:20px;

  .head{
    @include floatfix;
    .state{
      margin-bottom:10px;
      height:30px;line-height:30px;
      float:left;
      color:white;
      font-weight:bold;
      text-shadow:0 0 2px black;
      width:100px;
      text-align:center;
      @include number-font;
      border:solid 1px rgba(white, 0.4);
      box-shadow:0 0 5px black;
      font-size:20px;
      &.open{
        background-color:#6CC644;
      }
      &.closed{
        background-color:#BD2C00;
      }
    }
  }

  .content{
    margin-bottom:30px;
    border-top:solid 1px rgba(white, 0.1);
    padding-top:10px;
  }

  .state-change{
    border-top:solid 1px rgba(white, 0.1);
    padding:10px 0;
  }

  .state-change.creator{
    @include floatfix;
    .avatar{
      float:left;
      width:32px;height:32px;
      box-shadow:0 0 5px black;
    }
    .name, .desc{
      float:left;
      height:32px;line-height:32px;
      margin-left:10px;
    }
  }

  .state-change.closed{
    @extend .state-change.creator;
    .state{
      float:left;
      //border:solid 1px rgba(white, 0.4);
      box-shadow:0 0 5px black;
      text-shadow:0 0 2px black;
      background-color:#BD2C00;
      margin-right:10px;
      padding:0 7px;
      height:24px;line-height:24px;
      margin-top:4px;
      font-weight:bold;
      @include number-font;
      color:white;
    }
  }

  .state-change.open-close{
    .reopen, .close{
      &:before{
        content:"> admin ";
        color:#FF9999;
      }
    }
  }
}