.page-milestones{
  .milestone{
    @include content-box;

    .title{
      height:20px;line-height:20px;
      font-size:16px;
      margin-bottom:10px;
      a{color:white;&:hover{color:#ffd75f;}}
    }
    .ops{
      font-size:12px;
    }
  }
}

@mixin usecases{
  @include content-box;
  width:auto;
  padding:0 16px 10px 16px;

  .usecase{
    .meta{
      @include floatfix;
      padding:0;
      height:32px;line-height:32px;
      position:relative;

      .id{
        float:left;
        @include border-radius(3px);
        background-color:rgba(#f8f8f8, 0.1);
        color:#888;
        height:16px;line-height:16px;
        font-size:12px;
        padding:0 6px;
        margin-top:8px;
        margin-right:7px;
      }
      .name{
        font-size:16px;
        float:left;
        margin-right:14px;
      }
      .ops{
        float:left;
      }
    }
    .children{
      padding-left:28px;
      border-left:solid 2px #ccc;
    }

    .name.no-issue{
      color:#555;
    }
  }
}

.page-milestone-show{
  .milestone-title{
    font-size:16px;
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:solid 1px #454545;
  }

  .milestone-ops{
    @include floatfix;
    margin-bottom:10px;
    border-bottom:solid 1px #454545;
    a.create{
      @include new-model-button;
    }
  }

  .usecases{
    @include usecases;
  }

  .new-report{
    @include floatfix;
    margin-bottom:10px;
    border-bottom:solid 1px #454545;
    a{
      @include new-model-button;
    }
  }

  .reports{
    .report{
      @include content-box;
      @include floatfix;
      .title{
        float:left;
        margin-right:20px;
      }
      .time{
        float:left;
        margin-right:20px;
      }
      .ops{
        float:left;
      }
    }
  }
}

.page-milestone-report-show{
  .report-title{
    font-size:16px;
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:solid 1px #454545;
  }
  .states{
    @include floatfix;
    margin-bottom:10px;

    a{
      float:left;
      height:24px;line-height:24px;
      padding:0 7px;
      margin-right:10px;
    }

    a.open{
      color:lighten(#6CC644, 30%);
      background-color:rgba(#6CC644, 0.1);
    }
    a.closed{
      color:lighten(#BD2C00, 30%);
      background-color:rgba(#BD2C00, 0.1);
    }
    a.pause{
      color:lighten(#FFBD00, 30%);
      background-color:rgba(#FFBD00, 0.1);
    }
  }
  .usecases{
    @include usecases;

    .usecase{
      .meta{
        @include floatfix;
        height:auto;
        a.new-issue{
          float:left;
          height:32px;line-height:32px;
        }
        .new-issue-form{
          clear:both;
          margin-top:10px;
          padding:10px;
          @include content-box;
          textarea{
            width:350px;
            height:40px;
          }
          .field{
            margin-bottom:0;
          }
          .field.submit{
            a{margin-top:0;
              height:30px;line-height:30px;
              padding:0 14px;
            }
          }
        }
      }

      .issues{
        margin-left:16px;

        .issue{
          @include floatfix;

          &:last-child{
            margin-bottom:10px;
          }

          .data{
            @include floatfix;
            margin-bottom:10px;

            .creator-avatar{
              float:left;
              margin-right:7px;
              width:20px;height:20px;
              margin-top:2px;
              box-shadow:0 0 3px rgba(black, 0.8);
              img{width:20px;height:20px;}
            }

            .content{
              float:left;margin-right:14px;
              color:#76B8F2;
              height:24px;line-height:24px;
              &:before{
                content:">";
                color:rgba(#76B8F2, 0.5);
                margin-right:7px;
              }
            }

            .ops{
              float:left;
              a{height:24px;line-height:24px;}
            }
          }

          .form{
            @include content-box;
            textarea{
              width:350px;
              height:40px;
            }
            .field.submit{
              a{
                height:30px;line-height:30px;
                padding:0 14px;
              }
            }
          }
        }
      }
      .children{
        border-color:transparent;
      }
    }
  }
}