@mixin topbar-button{
  @include mini-button;
  background:#646464;
  color:white;
  text-shadow:0px 0px 1px rgba(black, 0.4);
  border-color:rgba(white, 0);
  &:hover{
    background:#747474;
    border-color:rgba(white, 0);
    text-shadow:0px 0px 1px rgba(black, 0.4);
  }

  font-size:12px;
  height:22px;line-height:22px;
  margin-top:8px;
  box-shadow:0 0 2px rgba(black, 0.3);
}