@mixin topbar-button{
  @include mini-button;
  background:#646464;
  color:white;
  text-shadow:0px 0px 1px rgba(black, 0.4);
  border-color:rgba(white, 0);
  &:hover{
    background:#747474;
    border-color:rgba(white, 0);
    text-shadow:0px 0px 1px rgba(black, 0.4);
  }

  font-size:12px;
  height:22px;line-height:22px;
  margin-top:8px;
  box-shadow:0 0 2px rgba(black, 0.3);
}

$story-status-not-assign-color:#C34000;
$story-status-doing-color:#95BB52;
$story-status-reviewing-color:#5552BB;
$story-status-done-color:#1888EA;
$story-status-pause-color:#EAC018;

.page-story-status-label{
  color:white;
  height:20px;line-height:20px;font-size:12px;
  display:inline-block;
  text-shadow:1px 1px 0 rgba(black, 0.2);
  width:50px;text-align:center;
  
  &.not-assign{
    background-color:$story-status-not-assign-color;
  }
  &.doing{
    background-color:$story-status-doing-color;
  }
  &.reviewing{
    background-color:$story-status-reviewing-color;
  }
  &.done{
    background-color:$story-status-done-color;
  }
  &.pause{
    background-color:$story-status-pause-color;
  }
}

@mixin story-status-bg($alpha : 0.1){
  &.not-assign{
    background-color:rgba($story-status-not-assign-color, $alpha);
  }
  &.doing{
    background-color:rgba($story-status-doing-color, $alpha);
  }
  &.reviewing{
    background-color:rgba($story-status-reviewing-color, $alpha);
  }
  &.done{
    background-color:rgba($story-status-done-color, $alpha);
  }
  &.pause{
    background-color:rgba($story-status-pause-color, $alpha);
  }
}

@mixin story-status-text-color{
  &.not-assign{
    color:lighten($story-status-not-assign-color, 20%);
  }
  &.doing{
    color:lighten($story-status-doing-color, 20%);
  }
  &.reviewing{
    color:lighten($story-status-reviewing-color, 20%);
  }
  &.done{
    color:lighten($story-status-done-color, 20%);
  }
  &.pause{
    color:lighten($story-status-pause-color, 20%);
  }
}

@mixin story-in-flow{
  overflow:hidden;
  padding:2px 0 0 2px;
  .story{
    overflow:hidden;
    height:50px;line-height:50px;
    width:50px;
    float:left;
    margin:0 2px 2px 0;

    @include story-status-bg;

    &.not-assign .story-id{
      color:lighten($story-status-not-assign-color, 20%);
    }
    &.doing .story-id{
      color:lighten($story-status-doing-color, 20%);
    }
    &.reviewing .story-id{
      color:lighten($story-status-reviewing-color, 20%);
    }
    &.done .story-id{
      color:lighten($story-status-done-color, 20%);
    }
    &.pause .story-id{
      color:lighten($story-status-pause-color, 20%);
    }

    .story-id{
      height:50px;line-height:50px;
      width:50px;
      font-weight:bold;
      text-shadow:0 0 2px rgba(black, 0.4);
      font-size:16px;
      float:left;
      text-align:center;
    }
  }
}