@mixin topbar-button{
  @include mini-button;
  background:#646464;
  color:white;
  text-shadow:0px 0px 1px rgba(black, 0.4);
  border-color:rgba(white, 0);
  &:hover{
    background:#747474;
    border-color:rgba(white, 0);
    text-shadow:0px 0px 1px rgba(black, 0.4);
  }

  font-size:12px;
  height:22px;line-height:22px;
  margin-top:8px;
  box-shadow:0 0 2px rgba(black, 0.3);
}

$story-status-not-assign-color:#C34000;
$story-status-doing-color:#95BB52;
$story-status-reviewing-color:#5552BB;
$story-status-done-color:#1888EA;
$story-status-pause-color:#EAC018;

.page-story-status-label{
  color:white;
  height:20px;line-height:20px;font-size:12px;
  display:inline-block;
  text-shadow:1px 1px 0 rgba(black, 0.2);
  width:50px;text-align:center;
  
  &.not-assign{
    background-color:$story-status-not-assign-color;
  }
  &.doing{
    background-color:$story-status-doing-color;
  }
  &.reviewing{
    background-color:$story-status-reviewing-color;
  }
  &.done{
    background-color:$story-status-done-color;
  }
  &.pause{
    background-color:$story-status-pause-color;
  }
}

@mixin story-in-flow{
  .story{
    position:relative;
    margin:0 10px 10px;
    
    a.how{
      clear:both;
      color:#999;
      padding:15px-LESS;
      padding-bottom:15px-LESS + 20px;
      background-color:#363537;
      display:block;

      @include transition(all ease-in .2s);
      &:hover{
        color:#9FBA6D;text-decoration:none;
        box-shadow:0 0 2px #76B8F2, 0 0 2px #76B8F2 inset;
        background-color:lighten(#363537, 5%);
      }
    }

    .meta{
      overflow:hidden;
      position:absolute;
      bottom:0;
      left:15px-NARROW;

      .story-id{
        float:left;
        color:#fff;height:20px;line-height:20px;
        font-weight:bold;
        background-color:#646464;
        padding:0 3px;
        text-shadow:1px 1px rgba(black, 0.2);
      }
      .status{
        float:left;margin-right:5px;
        .st{float:left;}
      }
    }
    
    .members{
      position:absolute;
      right:-2px;bottom:-2px;
      .avatar{
        float:left;
        width:24px;height:24px;overflow:hidden;
        img{width:24px;height:24px;}
        margin-left:3px;
      }
    }
    
    .ops{
      display:none;
      float:right;
      .os{
        overflow:hidden;
        a.show{@include mini-button;margin-right:6px;}
        a.edit{@include mini-button;}
      }
    }
  }
}