.page-products{
  overflow:hidden;

  .kind{
    margin-bottom:30px;
    @include floatfix;
    .kname{
      font-size:18px;font-weight:bold;
      color:white;
      padding-bottom:10px;
      margin-bottom:10px;
      border-bottom:solid 1px rgba(white, 0.1);
    }
    .kdesc{
      color:#999;
    }
    .ref{
      margin-bottom:20px;
      a{color:#ffd75f;}
    }

    .product{
      width:204px;
      height:204px + 1px + 1px + 30px;
      border:solid 7px rgba(white, 0.1);
      margin-right:20px;
      margin-bottom:20px;
      float:left;
      background-color:rgba(black, 0.3);
      overflow:hidden;
      box-shadow:0 0 7px rgba(black, 1);
      position:relative;

      @include transition(all cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s);
      &:hover{border:solid 7px rgba(white, 0.4);}

      .meta-data{
        .cover{
          width:200px;height:150px;
          margin:2px;margin-left:2px;
          background-color:rgba(white, 0.1);
        }
        .name{
          height:50px;line-height:50px;
          font-size:14px;font-weight:bold;
          padding-left:15px;
          color:#C6C6C6;
          border-top:solid 1px rgba(white, 0.1);
          background-color:rgba(black, 0.2);
        }
        &:hover{
          .name{color:white;}
        }
      }
      .stat-data{
        height:30px;line-height:30px;
        background-color:rgba(#666, 0.1);
        border-top:solid 1px rgba(white, 0.1);
        padding-left:15px;
        font-size:12px;
        span.stat{color:#999;margin-right:10px;}
      }
      .ops{
        position:absolute;
        right:15px;bottom:6px;
        font-size:12px;
      }
    }
  }
}

.page-product-headbar{
  overflow:visible;
  position:relative;
  margin-bottom:20px;
  
  .desc{
    width:720px;
    color:#999;
  }
  
  .ops{
    position:absolute;right:0;
    bottom:4px;right:4px;overflow:hidden;
    // a.add-issue{@include new-button;margin-right:4px;}
    // a.add-story{@include new-button;margin-right:4px;}
    // a.add-stream{@include new-button;}
  }
}

.page-product-nav{
  //display:none;
  overflow:hidden;
  position:fixed;
  top:360px + 28px;
  left:20px;
  width:280px;
  border-top:solid 5px #646464;
  padding-top:10px;

  .item{
    line-height:30px;height:30px;
    background-color:#55A4F2;
    color:white;&:hover{color:white;};
    padding:0 6px 0 15px;
    margin-bottom:15px-LESS;
    float:right;
    clear:both;
    
    .t{float:left;margin-right:10px;}
    .c{
      background-color:#1071D1;
      float:left;font-size:10px;font-weight:bold;
      height:16px;line-height:16px;
      border:solid 1px rgba(black, 0.2);
      padding:0 15px-LESS;
      margin-top:6px;
    }
    
    &:hover{
      background-color:#1071d1;
      border-color:#1071d1;
      .c{background-color:#093e72;}
    }
    
    &.disabled{
      background-color:#ddd;border-color:#ccc;
      color:#999;
    }

    &.current{
      background-color:#fff;border-color:rgba(black, 0.3);
      color:#444;
      .c{background-color:#666;color:white;}
    }
  }
}

.page-product-stats{
  $padding:18px;
  $width:290px - $padding*2;

  float:right;
  background-color:#333;
  @include border-radius(2px);
  width:$width; margin-right:-20px;
  color:white;font-size:14px;
  padding:$padding;
  
  .stat{
    overflow:hidden;float:left;
    .t{font-size:14px;margin-bottom:6px;};
    .c{font-size:24px;font-weight:bold;@include number-font;
      float:left;height:24px;line-height:24px;margin-right:5px;
    }
    .d{
      float:left;font-size:12px;height:12px;line-height:12px;margin-top:9px;
    }
    
    &.stories{
      position:relative;margin-right:20px;
      width:$width/2;
      &:before{
        content:"";
        display:block;position:absolute;top:0;bottom:0;right:0;
        border-left:solid 1px #1D1D1D;
        border-right:solid 1px #464646;
      };
    }
  }
}

.page-product-members{
  width:690px;
  .member{
    padding:12px;margin-right:20px;
    background-color:#fafafa;
    border:dashed 1px #ddd;
    margin-bottom:10px;
    @include border-radius(5px);
    overflow:hidden;

    .avatar{
      float: left;
      width:96px;height:96px;
      @include border-radius(3px);
      overflow:hidden;
      img{width:96px;height:96px;}
    }

    .meta-and-status{
      margin-left:108px;
      .name{
        font-size:14px;font-weight:bold;
        margin-bottom:12px;
        a{color:#333 !important;}
      }
      .doing, .reviews, .not-start{
        margin-bottom:6px;
        a{
          background-color:#444;
          @include border-radius(3px);
          padding:0 6px;
          color:white;
          &:hover{
            color:white;
            @include transition(all ease-in .2s);
            background-color:#777;
            text-decoration:none;
          }
        }
      }
    }
  }
}

.page-product-lemmas{
  width:690px;

  .intro{
    width:680px;
    padding-bottom:24px;
    margin-bottom:24px;
    border-bottom:dashed 1px #ccc;
  }

  .lemma{
    overflow:hidden;
    height:32px;line-height:32px;
    border-bottom:solid 1px #eee;
    width:680px;

    &:nth-child(2n+1){
      background-color:#FCFCFC;
    }

    .cn{
      float: left;
      width:140px;
      font-weight: bold;
    }
    .en{
      float: left;
      width:140px;
      font-weight: bold;
    }
    .desc{
      float: left;
      width:400px;
      word-break:break-all;
    }
  }
}