.page-new-stream{
  padding:15px;
  background-color:#646464;
}

.page-stream-show{
  .stories{
    $w:500px;
    .story{
      margin-bottom:24px;
      width:$w;
      border:dashed 1px #ccc;
      @include border-radius(3px);
      position:relative; background-color:#fafafa;
      padding:12px;
      
      .meta{
        overflow:hidden;margin-bottom:10px;
        .story-id{
          float:left;margin-right:6px;
          color:#fff;height:22px;line-height:22px;
          font-weight:bold;
          background-color:#444;
          padding:0 12px;font-weight:bold;
          @include border-radius(3px);
          text-shadow:1px 1px rgba(black, 0.2);
          border:solid 1px rgba(black, 0.2);
        }
        .status{
          float:left;margin-right:12px;
          .st{float:left;}
          
          .estimate{
            float:left;margin-right:6px;
            font-size:14px;font-weight:bold;
            height:22px;line-height:22px;
            background-color:lighten($story-status-done-color, 20%);
            color:#fff;
            padding:0 12px;
            @include border-radius(3px);
            @include number-font;
            text-align:center;
            border:solid 1px rgba(black, 0.2);
            text-shadow:1px 1px rgba(black, 0.2);
          }
        }
        
        .members{
          .avatar{
            float:left;
            width:24px;height:24px;overflow:hidden;
            @include border-radius(3px);
            img{width:24px;height:24px;}
            margin-right:6px;
          }
        }
        
        .ops{
          float:right;
          .os{
            overflow:hidden;
            a.show{@include common-mini-button;margin-right:6px;}
            a.edit{@include common-mini-button;}
          }
        }
      }
      
      .how{
        clear:both;
        background-color:#fff;
        border:1px dashed #eee;
        @include border-radius(3px);
        padding:6px;
      }
      
      
      .tips{
        padding:0 15px;
        margin-bottom:20px;
        overflow:hidden;
      }
    }
  }
}