.page-team-members{
  .member{
    float:left;
    margin:0 10px 10px 0;

    a.box{
      $w:96px;
      $padding : 10px;

      overflow:hidden;
      width: $w*2 + $padding * 3;
      background-color:#3E3D3F;
      padding:0;
      display:block;
      position:relative;

      &:before{
        content:"";
        display:block;
        position:absolute;
        top:0;bottom:0;left:$w + $padding;
        width:5px;
        @include gradient-ltor(rgba(black, 0.4), rgba(black, 0));
      }

      &:hover{
        .avatar{background-color:#9FBA6D;}
        .meta .real-name{color:#9FBA6D;}
      }

      .avatar{
        float:left;
        padding-left:$padding;
        width:$w;height:$w;overflow:hidden;
        img{width:$w;height:$w;}

        @include transition(background-color ease-in .2s);
      }
      .meta{
        margin-left:$w + $padding * 2;
        margin-right:$padding;
        .name{
          font-size:13px;font-weight:bold;margin-bottom:5px;
          margin-top:10px;
        }
        .real-name{color:#999;}
      }
    }
  }
}

.page-user-show{
  border:solid 1px #333;
  border-right:none;
  border-bottom:none;
  width:818px;

  .head{
    border:solid 1px #333;
    border-right:none;
    overflow:hidden;
    margin:-1px -1px 0 -1px;

    .avatar{
      float:left;
      border:solid 1px #333;
      margin:-1px 0 -1px -1px;

      padding:10px;
      $w:96px;
      width:$w;height:$w;overflow:hidden;
      img{width:$w;height:$w;box-shadow:0 0 5px black;}
    }
    .meta{
      float:left;
      border:solid 1px #333;
      margin:-1px 0 -1px -1px;

      padding:10px;
      width:96px;height:96px;
      background-color:rgba(black, 0.3);

      .name{
        font-size:16px;font-weight:bold;
        height:96px;line-height:96px;
      }
    }

    .status{
      float:left;
      border:solid 1px #333;
      margin:-1px 0 -1px -1px;
      width:96px;height:96px;
      padding:10px;
      font-weight:bold;
      @include story-status-text-color;
      background-color:rgba(#666, 0.1);

      .name, .desc{height:20px;line-height:20px;}
      .name{margin-top:28px;}
    }
  }

  .stories{

    .product{
      height:96px + 20px;
      border:solid 1px #333;
      border-right:none;
      margin:-1px -1px 0 -1px;
      clear:both;

      .meta{
        height:96px + 20px;
        width:(96px + 20px) * 2 + 1px;
        border:solid 1px #333;
        margin:-1px 0 0 -1px;
        float:left;
        background-color:rgba(black, 0.3);
        .name{
          padding:10px;
          height:96px;line-height:96px;
          font-weight:bold;
        }
      }

      .status{
        float:left;
        height:96px + 20px;width:96px + 20px;
        border:solid 1px #333;
        margin:-1px 0 0 -1px;
        font-size:20px;font-weight:bold;
        .count{
          margin-top:8px;margin-left:8px;
          text-align:center;
          @include border-radius(100px);
          @include story-status-bg(0.2);
          @include story-status-text-color;
          box-shadow:0 0 5px black;
          text-shadow:0 0 2px rgba(black, 0.4);
        }
      }
    }
  }
}