.page-new-wiki-page, .page-edit-wiki-page{
  form{
    .field.title{
      padding-left:10px;
      label{
        margin-left:-10px;
      }
      input{
        width:100%;
        margin-left:-10px;
        font-size:14px;
      }
    }
    .field.content{
      padding-left:10px;
      label{
        margin-left:-10px;
      }
      textarea{
        width:100%;
        margin-left:-10px;
        padding:4px;
        font-size:14px;
        height:500px;
      }
    }

    margin-bottom:20px;
  }
}

.page-wiki-pages{
  .wiki-ops{
    overflow:hidden;
    margin-bottom:10px;

    a.new{
      @include new-model-button;
    }

    a.orphan, a.connect-evernote, .import-evernote{
      @include new-model-button;
      &:before{content:">";}
    }

    .evernote-connected{
      float:left;
      height:30px;line-height:30px;
      position:relative;
      margin-right:20px;
      color:white;
    }
  }

  .wiki-page{
    @include content-box;

    .title{
      height:20px;line-height:20px;
      font-size:16px;
      margin-bottom:10px;
      a{color:white;&:hover{color:#ffd75f;}}
    }
    .ops{
      font-size:12px;
    }
  }
}


.page-wiki-page{
  .wiki-page-title{
    @include content-box;
    width:auto;

    .ops{
      float:right;
      a{
        font-size:14px;
        font-weight:normal;
      }
    }
  }

  .table-of-contents{
    @include content-box;
    a{color:#ffd75f;&:hover{background-color:rgba(#ffd75f, 0.2);color:white;}}
    ul ul{
      padding-left:1em;
    }
  }

  .wiki-page-content{
    @include content-box;
    width:auto;

    h1, h2, h3, h4, h5, h6{font-weight:bold;}
    h1{font-size:28px;line-height:42px;margin-bottom:14px;border-bottom:solid 1px rgba(white, 0.2);}
    h2{font-size:24px;line-height:36px;margin-bottom:12px;}
    h3{font-size:18px;line-height:30px;margin-bottom:9px;}
    h4{font-size:16px;line-height:27px;margin-bottom:8px;}
    h5{font-size:14px;line-height:24px;margin-bottom:7px;}
    h6{font-size:14px;line-height:21px;margin-bottom:7px;color:#ccc;}

    h1, h2, h3, h4, h5, h6{
      span.edit-section{
        font-size:14px;
        float:right;
        font-weight:normal;
        color:#999;
      }
    }

    p:last-child{
      margin-bottom:0;
    }
  }
}

.page-new-wiki-page .preview_result, .page-edit-wiki-page .preview_result{
  @extend .page-wiki-page;

  .recommander-wiki-pages{
    margin-top:20px;

    &:before{
      content:'相关词条推荐:';
      display:block;
      margin-bottom:10px;
    }

    .wiki-page{
      @include content-box(auto);

      .title{
        height:30px;line-height:30px;
        font-size:16px;
        margin-bottom:20px;
        @include search-match;
      }

      .ct{
        @include search-match;
      }
    }
  }
}


.page-wiki-page-versions{
  .version{
    background-color:#3E3D3F;
    padding:15px;
    margin-bottom:10px;

    &.current{
      background-color:#363537;
      box-shadow:0 0 5px #FCBA15 inset, 0 0 5px #FCBA15;
      .is-current{
        color:#FCBA15;
      }
    }
  }
}

.page-wiki-search-results{
  .count{
    @include content-box;
  }

  .wiki-page{
    @include content-box;

    .title{
      margin-bottom:5px;
      font-size:14px;
      @include search-match;
    }
    .ct{
      @include search-match;
    }
  }
}