.page-team-members{
  .member{
    float:left;
    margin:0 10px 10px 0;

    a.box{
      $w:96px;
      $padding : 10px;

      overflow:hidden;
      width: $w*2 + $padding * 3;
      background-color:$COLOR-BOX-BG;
      padding:0;
      display:block;
      @include white-link;
      position:relative;

      &:before{
        content:"";
        display:block;
        position:absolute;
        top:0;bottom:0;left:$w + $padding;
        width:5px;
        @include gradient-ltor(rgba(black, 0.4), rgba(black, 0));
      }

      &:hover{
        .avatar{background-color:$COLOR-LINK;}
        .meta .real-name{color:$COLOR-LINK;}
      }

      .avatar{
        float:left;
        padding-left:$padding;
        width:$w;height:$w;overflow:hidden;
        img{width:$w;height:$w;}

        @include transition(background-color ease-in .2s);
      }
      .meta{
        margin-left:$w + $padding * 2;
        margin-right:$padding;
        .name{
          font-size:13px;font-weight:bold;margin-bottom:5px;
          margin-top:10px;
        }
        .real-name{color:$COLOR-QUIET-TEXT;}
      }
    }
  }
}