.page-products{
  overflow:hidden;

  $w : 240px;
  $h : $w;


  .product{
    float:left;margin-bottom:10px;margin-right:10px;
    position:relative;
    background-color:#3E3D3F;
    width:$w;height:$h;

    .meta-data{
      a.box{
        width:$w;
        height:$h;
        display:block;
        
        @include white-link;

        &:hover{
          .cover{
            background-color:$COLOR-LINK;
          }
        }

        .cover{
          width:$w;height:$w*150/200;
          padding:10px 0 0 0;
          @include transition(background-color ease-in .2s);
          img{width:$w;}
        }
        .name{
          $name-h : $h - $w*150/200 - 10px;

          font-size:14px;font-weight:bold;
          height:$name-h;line-height:$name-h;
          padding-left:15px;
          @include top-shadow;
        }
        .desc{
          display:none;
          font-size:12px;padding:0 5px;
        }
      }
    }

    .stat-data{
      display:none;
      float:left;
      margin-left:20px;
      width:180px;
      .base{
        overflow:hidden;
        .stat{
          float:left;
          background-color:#333;
          width:52px;height:52px;
          margin-right:4px;
          @include border-radius(3px);
          color:#fff;margin-bottom:10px;
          .n{
            text-align:center;
            font-weight:bold;font-size:20px;
          }
          .d{
            text-align:center;
            color:#ddd;
          }
          &.zero{
            background-color:#eee;
            color:#555;
            .d{color:#888;}
          }
        }
      }
      .work-member{
        .t{
          font-size:14px;
          margin-bottom:5px;padding-bottom:5px;
          border-bottom:dashed 1px #eee;
        }
        .members{
          overflow:hidden;
          .avatar{
            float:left;margin-right:4px;
            width:24px;height:24px;
            @include border-radius(2px);overflow:hidden;
            img{width:24px;height:24px;}
          }
        }
      }
    }
    .ops{
      position:absolute;
      top:20px;left:10px;
      a.edit{
        position:relative;
        background-color:$COLOR-BTN-DARK-BG;
        color:#ccc;
        display:block;
        @include border-radius(2px);
        height:24px;line-height:24px;
        padding:0 4px;
        @include transition(all ease-in .2s);
        &:hover{
          text-decoration:none;
          background-color:$COLOR-BTN-DARK-BG-HOVER;
          color:white;
        }
        &.admin-btn{
          padding-left:24px;
          &:before{
            content:"A";
            display:block;
            height:16px;width:16px;line-height:16px;
            text-align:center;
            @include border-radius(1px);
            position:absolute;
            top:4px;left:4px;
            background-color:rgba(red, .6);
            color:white;
            font-size:10px;
            font-weight:bold;
          }
        }
      }
    }
  }
}

.page-product-headbar{
  background-color:$COLOR-BOX-BG2;
  padding:$BOX-PADDING;
  overflow:visible;
  position:relative;
  margin-bottom:10px;
  
  .name{
    font-size:16px;
    margin-bottom:10px;
  }
  .desc{
    width:720px;
    color:$COLOR-QUIET-TEXT;
  }
  
  .ops{
    position:absolute;right:0;
    bottom:4px;right:4px;overflow:hidden;
    a.add-issue{@include new-button;margin-right:4px;}
    a.add-story{@include new-button;margin-right:4px;}
    a.add-stream{@include new-button;}
  }
}

.page-product-nav{
  //display:none;
  overflow:hidden;
  position:fixed;
  top:360px;
  left:20px;
  width:280px;
  border-top:solid 5px $COLOR-BOX-LIGHT-BG;
  padding-top:10px;

  .item{
    line-height:30px;height:30px;
    background-color:#55A4F2;
    color:white;&:hover{color:white;};
    padding:0 6px 0 $BOX-PADDING;
    margin-bottom:$BOX-PADDING-LESS;
    float:right;
    clear:both;
    
    .t{float:left;margin-right:10px;}
    .c{
      background-color:#1071D1;
      float:left;font-size:10px;font-weight:bold;
      height:16px;line-height:16px;
      border:solid 1px $COLOR-BLACK-SHADOW;
      padding:0 $BOX-PADDING-LESS;
      margin-top:6px;
    }
    
    &:hover{
      background-color:#1071d1;
      border-color:#1071d1;
      .c{background-color:#093e72;}
    }
    
    &.disabled{
      background-color:#ddd;border-color:#ccc;
      color:#999;
    }

    &.current{
      background-color:#fff;border-color:$COLOR-MEDIUM-BORDER;
      color:#444;
      .c{background-color:#666;color:white;}
    }
  }
}


.page-product-show{  
  .product-streams{
    .stream{
      float:left;
      width:240px;
      overflow:hidden;
      margin-right:10px;

      background-color:$COLOR-BOX-BG;

      .title{
        padding:10px 10px 10px 15px;
        font-size:13px;
        font-weight:bold;
        a{
          @include white-link;
          font-size:13px;
        }
      }

      .stories{
        @include story-in-flow;
      }
    }
  }
}

.page-product-stats{
  $padding:18px;
  $width:290px - $padding*2;

  float:right;
  background-color:#333;
  @include border-radius(2px);
  width:$width; margin-right:-20px;
  color:white;font-size:14px;
  padding:$padding;
  
  .stat{
    overflow:hidden;float:left;
    .t{font-size:14px;margin-bottom:6px;};
    .c{font-size:24px;font-weight:bold;@include numfont;
      float:left;height:24px;line-height:24px;margin-right:5px;
    }
    .d{
      float:left;font-size:12px;height:12px;line-height:12px;margin-top:9px;
    }
    
    &.stories{
      position:relative;margin-right:20px;
      width:$width/2;
      &:before{
        content:"";
        display:block;position:absolute;top:0;bottom:0;right:0;
        border-left:solid 1px #1D1D1D;
        border-right:solid 1px #464646;
      };
    }
  }
}

.page-product-members{
  width:690px;
  .member{
    padding:12px;margin-right:20px;
    background-color:#fafafa;
    border:dashed 1px #ddd;
    margin-bottom:10px;
    @include border-radius(5px);
    overflow:hidden;

    .avatar{
      float: left;
      width:96px;height:96px;
      @include border-radius(3px);
      overflow:hidden;
      img{width:96px;height:96px;}
    }

    .meta-and-status{
      margin-left:108px;
      .name{
        font-size:14px;font-weight:bold;
        margin-bottom:12px;
        a{color:#333 !important;}
      }
      .doing, .reviews, .not-start{
        margin-bottom:6px;
        a{
          background-color:#444;
          @include border-radius(3px);
          padding:0 6px;
          color:white;
          &:hover{
            color:white;
            @include transition(all ease-in .2s);
            background-color:#777;
            text-decoration:none;
          }
        }
      }
    }
  }
}

.page-product-issues{
  width:690px;
  .issue{
    overflow:hidden;
    border-bottom:dashed 1px #ccc;
    padding-bottom:12px;
    margin-bottom:12px;
    margin-right:20px;

    .creator{
      float: left;
      width:48px;height:48px;
      @include border-radius(3px);
      overflow:hidden;
    }
    .ct{
      margin-left:60px;margin-bottom:6px;
      font-size:14px;
    }
    .time{
      margin-left:60px;font-size:10px;
      color:#999;
    }
  }
}

.page-product-lemmas{
  width:690px;

  .intro{
    width:680px;
    padding-bottom:24px;
    margin-bottom:24px;
    border-bottom:dashed 1px #ccc;
  }

  .lemma{
    overflow:hidden;
    height:32px;line-height:32px;
    border-bottom:solid 1px #eee;
    width:680px;

    &:nth-child(2n+1){
      background-color:#FCFCFC;
    }

    .cn{
      float: left;
      width:140px;
      font-weight: bold;
    }
    .en{
      float: left;
      width:140px;
      font-weight: bold;
    }
    .desc{
      float: left;
      width:400px;
      word-break:break-all;
    }
  }
}