.page-products{
  overflow:hidden;
  .product{
    float:left;margin-bottom:20px;
    width:460px;position:relative;
    
    $w:200px; $h:360px;
    $pd:6px;
    .meta-data{
      float:left;
      
      width:$w + $pd*2; 
      height:$h + $pd*2;
      background-color:#eee;
      @include border-radius(9px);
      padding:4px;
      position:relative;
      .box{
        width:$w;height:$h;
        border:solid 1px #ddd;
        @include border-radius(6px);
        padding:5px;
        background-color:#fff;
        
        .cover{
          width:200px;height:150px;
          background-color:#f1f1f1;
          margin-bottom:10px;
        }
        .title{
          font-size:14px;margin-bottom:5px;
          font-weight:bold;padding:0 5px;
        }
        .desc{
          font-size:12px;padding:0 5px;
          color:#666;
        }
      };
    }
    .stat-data{
      float:left;
      padding-top:30px;margin-left:20px;
      width:180px;
      .t{
        font-size:14px;
        margin-bottom:10px;padding-bottom:10px;
        border-bottom:solid 1px #ddd;
      }
      .members{
        .none{color:#aaa;}
      }
    }
    .ops{
      position:absolute;
      bottom:4px;left:240px;
      .edit{
        @include common-mini-button;
      }
    }
  }
}

.page-product-show{
  background-color:#fafafa;
  padding:10px 25px 36px 25px;
  //@include border-radius(8px);
  overflow:visible;
  margin:0 -20px;
  border-bottom:solid 1px #CCCCCC;
  position:relative;
  
  .title{
    font-size:18px;font-weight:bold;
    color:#333;line-height:32px;height:32px;
    margin-bottom:10px;
  }
  .desc{
    color:#666;
    width:960px * 0.618;
    margin-bottom:20px;
  }
  .nav{
    overflow:hidden;
    position:absolute;
    bottom:-1px;
    .item{
      line-height:32px;height:32px;
      display:inline-block;
      background-color:#55A4F2;
      color:white;&:hover{color:white;};
      padding:0 12px;
      @include border-radius(3px 3px 0 0);
      float:left;margin-right:3px;
      border:solid 1px #55A4F2;
      border-bottom:none;
      overflow:hidden;
      
      .t{float:left;margin-right:10px;}
      .c{background-color:#1071D1;
        @include border-radius(10px);
        float:left;
        height:18px;line-height:18px;
        padding:0 10px;
        margin-top:7px;
      }
      
      &.disabled{
        background-color:#ddd;border-color:#ccc;
        color:#999;
      }
    }
  }
  
  .cover{
    overflow:hidden;
    width:200px;height:150px;
    float:left;
    @include border-radius(3px);
  }
}