.page-stream-show{
  .stories{
    $w:500px;
    .story{
      margin-bottom:30px;
      width:$w;
      //background-color:#f7f7f7;
      padding-top:20px;
      @include border-radius(5px);
      border:dashed 1px #ccc;
      @include border-radius(3px);
      position:relative; background-color:#fafafa;
      
      
      .story-id{
        color:#fff;font-size:9px;height:16px;line-height:16px;
        position:absolute;left:10px;top:-8px;
        background-color:#444; //border:solid 1px #444;
        padding:0 5px;font-weight:bold;
        @include border-radius(4px);
        //text-shadow:0px 0px 2px #ccc;
      }
      
      .how{
        float:left;padding:0 15px;margin-right:15px;
        width:280px;
      }
      .status{
        float:left;width:120px;
        .st{float:left;}
        
        .estimate{
          float:left;margin-right:10px;
          font-size:24px;font-weight:bold;
          height:32px;line-height:32px;
          background-color:lighten(#1071D1, 20%);color:#fff;text-shadow:0px 0px 2px #333;
          width:48px;
          @include border-radius(3px);
          @include number-font-family;
          text-align:center;
        }
      }
      
      .ops{
        clear:both;padding:15px;
        .os{
          overflow:hidden;
          a.show{@include common-mini-button;margin-right:5px;}
          a.edit{@include common-mini-button;}
        }
      }
      
      
      .tips{
        padding:0 15px;
        margin-bottom:20px;
        overflow:hidden;
      }
    }
  }
}