.page-stream-show{
  .stories{
    $w:500px;
    .story{
      margin-bottom:30px;
      width:$w;
      border:dashed 1px #ccc;
      @include border-radius(3px);
      position:relative; background-color:#fafafa;
      padding:10px;
      
      .meta{
        overflow:hidden;margin-bottom:10px;
        .story-id{
          float:left;margin-right:5px;
          color:#fff;height:24px;line-height:24px;
          font-weight:bold;
          background-color:#444;
          padding:0 5px;font-weight:bold;
          @include border-radius(3px);
        }
        .status{
          float:left;width:120px;
          .st{float:left;}
          
          .estimate{
            float:left;margin-right:5px;
            font-size:16px;font-weight:bold;
            height:24px;line-height:24px;
            background-color:lighten(#0075EF, 20%);
            //background-color:#0075EF;
            color:#fff;text-shadow:0px 0px 2px #333;
            width:48px;
            @include border-radius(3px);
            @include number-font-family;
            text-align:center;
          }
        }
        
        .members{
          .avatar{
            float:left;
            width:24px;height:24px;overflow:hidden;
            @include border-radius(3px);
            img{width:24px;height:24px;}
            margin-right:5px;
          }
        }
        
        .ops{
          float:right;
          .os{
            overflow:hidden;
            a.show{@include common-mini-button;margin-right:5px;}
            a.edit{@include common-mini-button;}
          }
        }
      }
      
      .how{
        clear:both;
        background-color:#fff;
        border:1px dashed #eee;
        @include border-radius(3px);
        padding:5px;
      }
      
      
      .tips{
        padding:0 15px;
        margin-bottom:20px;
        overflow:hidden;
      }
    }
  }
}

.page-mine-stories{@extend .page-stream-show;}