.page-new-wiki-page{
  background-color:$COLOR-BOX-LIGHT-BG;
  padding:$BOX-PADDING;
}

.page-wiki-pages{
  .ops{
    overflow:hidden;
    margin-bottom:10px;
    a.new{
      float:left;
      height:30px;line-height:30px;
      background-color:$COLOR-BOX-LIGHT-BG;
      padding:0 $BOX-PADDING 0 $BOX-PADDING + 24 - 3;
      position:relative;


      &:before{
        content:"";
        position:absolute;
        width:4px;
        height:16px;
        background-color:white;
        top:3px;
        left:3px;
        border-style:solid;
        border-color:rgba(black, 0.7);
        border-width:4px 10px;
      }

      &:after{
        content:"";
        width:16px;
        height:4px;
        position:absolute;
        top:13px;
        left:7px;
        background-color:white;
      }

      @include transition(all ease-in .2s);
      &:hover{
        background-color:$COLOR-BTN-DARK-BG-HOVER;
        text-decoration:none;
      }
    }
  }

  .wiki-page{
    height:30px;line-height:30px;
    margin-bottom:10px;
    padding:0 $BOX-PADDING;
    background-color:$COLOR-BOX-BG;
  }
}