.page-wiki-pages{
  .ops{
    overflow:hidden;
    margin-bottom:10px;
    a.new{
      float:left;
      height:30px;line-height:30px;
      background-color:$COLOR-BOX-LIGHT-BG;
      padding:0 $BOX-PADDING 0 $BOX-PADDING + 24 - 3;
      position:relative;


      &:before{
        content:"";
        position:absolute;
        width:4px;
        height:16px;
        background-color:white;
        top:3px;
        left:3px;
        border-style:solid;
        border-color:rgba(black, 0.7);
        border-width:4px 10px;
      }

      &:after{
        content:"";
        width:16px;
        height:4px;
        position:absolute;
        top:13px;
        left:7px;
        background-color:white;
      }

      @include transition(all ease-in .2s);
      &:hover{
        background-color:$COLOR-BTN-DARK-BG-HOVER;
        text-decoration:none;
      }
    }
  }

  .wiki-page{
    height:30px;line-height:30px;
    margin-bottom:10px;
    padding:0 $BOX-PADDING;
    background-color:$COLOR-BOX-BG;
  }
}


.page-wiki-page-preview, .page-wiki-page{
  .wiki-page-title{
    background-color:$COLOR-BOX-BG;
    font-size:28px;
    height:50px;line-height:50px;
    padding:0 $BOX-PADDING - 5;
    font-weight: bold;
    border-left:solid 5px rgba(white, 0.4);
    margin-bottom:10px;

    a.edit{
      font-size:12px;
      float:right;
      font-weight:normal;
    }
  }

  .table-of-contents{
    background-color:$COLOR-BOX-BG;
    padding:$BOX-PADDING $BOX-PADDING $BOX-PADDING 3px;
    margin-bottom:10px;
    ul{
      padding-left:12px;
    }
  }

  .wiki-page-content{
    background-color:$COLOR-BOX-BG2;
    padding:$BOX-PADDING;
    font-size:14px;

    h1{font-size:28px;line-height:42px;border-bottom:solid 1px #4F4F4F;margin-bottom:14px;}
    h2{font-size:24px;line-height:36px;font-weight:bold;margin-bottom:12px;}
    h3{font-size:20px;line-height:30px;font-weight:bold;margin-bottom:10px;}
    h4{font-size:18px;line-height:27px;font-weight:bold;margin-bottom:9px;}
    h5{font-size:16px;line-height:24px;font-weight:bold;margin-bottom:8px;}
    h6{font-size:14px;line-height:21px;font-weight:bold;margin-bottom:7px;}

    h1, h2, h3, h4, h5, h6{
      span.edit-section{
        font-size:14px;
        float:right;
        font-weight:normal;
        color:#999;
      }
    }
  }
}


.page-wiki-page-versions{
  .version{
    background-color:$COLOR-BOX-BG;
    padding:$BOX-PADDING;
    margin-bottom:10px;
  }
}