-htitle '用户管理'

-hbreadcrumb '首页', '/'
-hbreadcrumb '用户管理', '/admin'

:ruby
  members = User.all

.page-admin-members
  -members.each do |member|
    .member
      .avatar=avatar member, :mini
      .name=member.name
      .email=member.email
      .real-name=member.info_real_name
      .phone-number=member.info_phone_number
      .bank-card-number=member.info_bank_card_number

      %a.edit{:href=>"/admin/members/#{member.id}/edit"} ADMIN:修改

  %a.add-member{:href=>'/admin/members/new'} ADMIN:增加成员
  %a.add-product{:href=>'/products/new'} ADMIN:增加产品