-htitle @product.name

=render 'products/parts/product_headbar', :product=>@product
=render 'products/parts/product_nav', :product=>@product, :current=>:issues


.page-product-issues
  -@product.issues.each do |issue|
    .issue
      .creator
        =avatar_link issue.creator
      .ct=issue.content
      .time=issue.created_at