-htitle @product.name

=render 'products/parts/product_headbar', :product=>@product
=render 'products/parts/product_nav', :product=>@product, :current=>:stories_board

:ruby
  product = @product
  name = product.name

.page-product-show
  .product-streams
    -product.streams.each do |stream|
      :ruby
        title = truncate_u stream.title, 15
        stream_stories_count = stream.stories.count
        last_story = stream.stories.last
        stream_url = "/streams/#{stream.id}"
        working_hours = stream.working_hours
        
        members_limit = stream.members[0..9] # 10个
        
      .stream
        .title=link_to title, stream_url
        =render 'stories/parts/simple_list', :stories=>stream.stories
      