html{ overflow-y:scroll; overflow-x:hidden; }

body{
  padding:0;margin:0;
  background-color:$COLOR-BODY-BACKGROUND;
  font-size:12px;color:#fff;
  width:100%;

  a{
    color:$COLOR-LINK;
    &:hover{color:$COLOR-LINK;}
  }

  .page-container{
    margin:20px 20px 0;
  }
}


body .page-container{
  .page-sider{
    width:280px;float:left;

    .head{
      background-color:#3E3D3F;
      margin-bottom:10px;

      .title{
        font-size:18px;
        font-weight:bold;
        padding:15px;
        a{ @include white-link; }
      }
      .user{
        background-color:$COLOR-BG2;
        position:relative;
        padding:15px;
        overflow:hidden;

        @include top-shadow;

        .login{
          margin-top:8px;
          background-color:#2B2A2B;
          padding:0 15px;
          height:30px;line-height:30px;
          @include border-radius(3px);
          float:left;
        }

        .current-user-avatar{
          float:left;width:96px;height:96px;
          img{width:96px;height:96px;}
        }
        .current-user, .logout{
          margin-left:96px + 15px;
          margin-bottom:5px;
        }
        .current-user{
          color:$COLOR-QUIET-TEXT;
        }
      }
    }

    .page-nav{

      overflow:hidden;
      margin-left:80px;

      a.item{
        display:block;float:right;
        clear: both;
        &:last-child{margin-bottom:0;}
        font-size:14px;
        height:30px;line-height:30px;

        background-color:#646464;
        color:white;
        
        padding:0 15px;
        margin-bottom:10px;

        position:relative;

        &.admin{
          float:right;margin-right:0;
        }

        &:after{
          content:"";
          position:absolute;
          top:0;bottom:0;right:0;
          width:5px;
          background-color:transparent;
          @include transition(all ease-out .2s);
        }

        &:before{
          content:"";
          position:absolute;
          left:-5px;top:5px;
          border-top:solid 10px transparent;
          border-left:solid 10px $COLOR-LINK;
          border-right:solid 10px transparent;
          border-bottom:solid 10px transparent;
          opacity:0;
          @include transition(all ease-out .2s);
        }

        &:hover{
          text-decoration:none;
          &:after{
            background-color:$COLOR-LINK;
          }
          &:before{
            opacity:1;
          }
        };

        &.current{
          &:after{
            background-color:#FCBA15;
          }
          &:before{
            border-left-color:#FCBA15;
            opacity:1;
          }
        }
      }
    }
  }

  .page-content{
    margin-left:300px;
  }
}