html{
  overflow-y:scroll;
  overflow-x:hidden;
}

body{
  padding:0;margin:0;
  background-color:#fff;
  font-size:12px;
  color:#404040;
  width:100%;

  $page-header-height:50px;
  .page-header{
    @include gradient(#3974B4, #3468A2);
    
    .h{
      width:960px;margin:0 auto;

      height:$page-header-height;line-height:$page-header-height;
      overflow:visible;
      
      $color:#fff;
      .title{
        color:$color;
        float:left;font-weight:bold;
        text-shadow:0 1px 0 #093E72;
        font-size:14px;
      }
      .user{
        overflow:hidden;
        float:left;margin-left:40px;
        .current-user, .logout{
          float:left;
          margin-left:20px;
          color:$color;a{color:$color !important;}
        }
      }
    }
  }
  
  .page-content{
    padding:20px 0 0 0;
    margin:0 auto;width:960px;
    
    table{
      border-spacing:0;
      border-collapse:collapse;
      margin:0 0 20px 0;
      thead{
        background-color:#EFEFEF;
        th{
          border:solid 1px #ccc;
          padding:6px;
          color:#666;
        }
      }
      tbody{
        background-color:#fff;
        td{
          border:solid 1px #ccc;
          padding:6px 10px;
          &.running{
            background-color:#F5FFD6;
            color:#657F12;
          }
          &.closed{
            background-color:#FFE0D6;
            color:#C7441C;
          }
        }
      }
    }
  }
  
  a{
    color:#55A4F2;
    &:hover{color:#1071D1;};
  }
}