form{
  .field{
    margin-bottom:10px;
    overflow:visible;
    &:last-child{margin-bottom:0;}
    
    label{
      display:block;line-height:20px;height:20px;margin-bottom:5px;
      font-size:14px;
      padding-left:5px;
      &.need{
        &:after{
          content:"(必填)";
          display:inline-block;
          // width:5px;height:5px;
          // @include border-radius(5px);
          // background-color:lighten(red, 20%);
          // margin-left:5px;position:relative;top:-2px;
          font-size:12px;
          color:#FFBD00;
          margin-left:5px;
        };
      }
    }

    input[type=text], input[type=password], textarea{
      border:solid $COLOR-MORE-DARK-BORDER 1px;
      box-shadow:0 1px 2px $COLOR-BLACK-SHADOW inset;
      font-size:14px;padding:0 4px;
      width:200px;
      @include numfont;
      &:focus{
        box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
        border:solid 1px rgba(82, 168, 236, 0.8);
      }
    }
    input[type=text], input[type=password]{
      height:30px;line-height:30px;
    }
    textarea{
      width:500px;height:300px;padding:4px;
    }
  }

  .field.submit{overflow:hidden;}
  
  $form-btn-height:38px;
  $form-btn-padding:24px;

  .form-submit-button, .form-submit-button-no-default-event{
    display:inline-block;float:left;
    @include gradient(#DD4B39, #C53727);
    @include border-radius(3px);
    box-shadow:1px 1px 2px $COLOR-BLACK-SHADOW;
    text-shadow:-1px -1px 0 $COLOR-BLACK-SHADOW;
    border:1px solid $COLOR-MEDIUM-LIGHT-BORDER;
    height:$form-btn-height;line-height:$form-btn-height;
    padding:0 $form-btn-padding;
    font-size:14px;
    color:white;&:hover{color:white;text-decoration:none;};
    margin-right:10px;margin-top:10px;
    &:hover{
      @include lighten-gradient(#DD4B39, #C53727, 10%);
    }
    
    &.disabled{
      @include gradient(#fbfbfb, #f4f4f4);
      border:solid 1px #ccc;
      box-shadow:none;
      text-shadow:none;
      color:#cacaca;
    }
  }
  
  .form-cancel, .form-button{
    display:inline-block;float:left;
    @include gradient(#666, #555);
    @include border-radius(3px);
    box-shadow:1px 1px 2px $COLOR-BLACK-SHADOW;
    text-shadow:-1px -1px 0 $COLOR-BLACK-SHADOW;
    border:1px solid $COLOR-MEDIUM-LIGHT-BORDER;
    height:$form-btn-height;line-height:$form-btn-height;
    padding:0 $form-btn-padding;
    margin-right:10px;margin-top:10px;
    font-size:14px;
    color:white;&:hover{color:white;text-decoration:none;};
    &:hover{
      @include lighten-gradient(#666, #555, 10%);
    }
  }
}