form{
  .field{
    margin-bottom:10px;
    overflow:visible;
    &:last-child{margin-bottom:0;}
    
    label{
      display:block;line-height:20px;height:20px;margin-bottom:5px;
      &.need{
        &::after{
          content:"";
          display:inline-block;width:5px;height:5px;@include border-radius(5px);
          background-color:lighten(red, 20%);
          margin-left:5px;position:relative;top:-2px;
        };
      }
    }

    input[type=text], input[type=password], textarea{
      border:solid $COLOR-MORE-DARK-BORDER 1px;
      box-shadow:0 1px 2px $COLOR-BLACK-SHADOW inset;
      font-size:12px;padding:0 4px;
      width:200px;
      @include numfont;
      &:focus{
        box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
        border:solid 1px rgba(82, 168, 236, 0.8);
      }
    }
    input[type=text], input[type=password]{
      height:30px;line-height:30px;
    }
    textarea{
      width:500px;height:300px;
    }
  }
  
  .form-submit-button{
    display:inline-block;
    @include gradient(#DD4B39, #C53727);
    @include border-radius(3px);
    box-shadow:1px 1px 2px $COLOR-BLACK-SHADOW;
    text-shadow:-1px -1px 0 $COLOR-BLACK-SHADOW;
    border:1px solid $COLOR-MEDIUM-LIGHT-BORDER;
    height:28px;line-height:28px;
    padding:0 $BUTTON-PADDING;
    font-size:14px;
    color:white;&:hover{color:white;text-decoration:none;};
    margin-right:10px;
    &:hover{
      @include lighten-gradient(#DD4B39, #C53727, 10%);
    }
    
    &.disabled{
      @include gradient(#fbfbfb, #f4f4f4);
      border:solid 1px #ccc;
      box-shadow:none;
      text-shadow:none;
      color:#cacaca;
    }
  }
  
  .form-cancel{
    display:inline-block;
    @include gradient(#666, #555);
    @include border-radius(3px);
    box-shadow:1px 1px 2px $COLOR-BLACK-SHADOW;
    text-shadow:-1px -1px 0 $COLOR-BLACK-SHADOW;
    border:1px solid $COLOR-MEDIUM-LIGHT-BORDER;
    height:28px;line-height:28px;
    padding:0 $BUTTON-PADDING;
    margin-right:10px;
    font-size:14px;
    color:white;&:hover{color:white;text-decoration:none;};
    &:hover{
      @include lighten-gradient(#666, #555, 10%);
    }
  }

  .form-preview{
    display:inline-block;
    @include gradient(#666, #555);
    @include border-radius(3px);
    box-shadow:1px 1px 2px $COLOR-BLACK-SHADOW;
    text-shadow:-1px -1px 0 $COLOR-BLACK-SHADOW;
    border:1px solid $COLOR-MEDIUM-LIGHT-BORDER;
    height:28px;line-height:28px;
    padding:0 $BUTTON-PADDING;
    margin-right:10px;
    font-size:14px;
    color:white;&:hover{color:white;text-decoration:none;};
    &:hover{
      @include lighten-gradient(#666, #555, 10%);
    }
  }
}