= flash_info
= form_for @product, :html=>{:multipart=>true} do |f|
  .field.need
    %label 产品名
    =f.text_field :name
  .field.need
    %label 产品描述
    =f.text_area :description
  .field
    %label 产品封面
    =file_field_tag :'product[cover]'
  .field
    %a.form-submit-button{:href=>'javascript:;'} 确定
    %a.form-cancel-button{:href=>'javascript:history.go(-1);'} 取消