%p
  %form{:action => "/products/#{product.id}/wiki_search?product_id=#{product.id}", :method => "get", :name => ""}
    %input{:name => "keyword", :type => "text"}/
    %input{:name => "submit", :type => "submit", :value => "搜索"}/